body{
    background-image: url("../images/homepage_background.gif");
    background-size: cover; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.food
{
    border-radius: 33%;
    width: 300px;
    height: 300px;
    padding: 130px;
}
h1{
    font-size: 100px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffff;
}

.recipe{
    width: 400px;
    height: 400px;
    border-radius: 15%;
  
}
.cobb_salad_body{
    background-image: url("../images/cobbbackground.jpeg");
    background-size: cover; 
}
.rusty_chicken_thighs_body{
    background-image: url("../images/rusty_chicken_thighs_background.jpeg");
    background-size: cover; 
}
.vegan_jalapeno_poppers_body{
    background-image: url("../images/vegan_jalapeno_poppers_background.jpeg");
    background-size: cover; 
}